body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: lightpink;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
  text-align: center;
  color: gold;
  background-color: maroon;
  padding: 5px 0;
}

img {
  height: auto;
  width: 300px;
}
